[submodule "verilog-pcie"]
	path = third-party/verilog-pcie
	url = https://github.com/alexforencich/verilog-pcie
[submodule "third-party/registers-generator"]
	path = registers-generator
	url = ../wd-nvme-registers-generator.git
